<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my website</h1>
    <br>
    <h3>We will get started with these:</h3>
    <p>1. About this website: <a href="http://localhost:3000/about">About This Page</a></p>
    <p>2. All of available data: <a href="http://localhost:3000/data">All Data here</a></p>
    <p>3. To take an id data</p>
</body>
</html>